body {
  font-family: 'Helvetica', 'Arial', 'sans-serif';
}
header {
  background-color: #ccc;
}
header nav {
  display: inline-block;
}
header form {
  margin: 0;
  padding: .5em;
  display: inline-block;
}
header nav ul {
  padding: 0;
  margin: 0;
}
header nav ul li {
  margin: 0;
  padding: .5em;
  list-style: none;
  display: inline-block;
}
header nav ul li a {
  color: #000;
}
article {
  padding: .5em;
}
.messages {
  padding: .5em;
}
.col-half {
  width: 49%;
  display: inline-block;
}
